extends common/_layout_about

block titleL
    .title-h1
        h1 - Обо мне -
                    
block fotoL
    .about-foto
        //- img(src="./assets/img/me.jpg" alt="Foto of Varden Adamchuk")
block textL
    .title-h2
        h2 - Кто я -
    .description
        |Я веб разработчик из Ванкувера. Мне 43 года.
        br
        |Я занимаюсь разработкой современных сайтов и приложений. 
        br
        |Мне нравится делать интересные и современные проекты.
        br
        |Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        br
        |Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        br

block textR
    .title-h2
        h2 - Чем я могу быть -
            br 
            |вам полезен 
    .description
        |Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

block skillsR
    h2 Frontend
    h2 Becend
    h3 Workflow

block contact
    .popup-contact
        .title-h2 
            h2 - Контакты -
        ul.popup-contact__list
            li.popup-contact__items.skype varden-adams
            li.popup-contact__items.mail varden.adams@gmail.com
            li.popup-contact__items.phone +1 604 3602807
            li.popup-contact__items.addres Burnaby, BC, Canada
block map
    #map
