
extends common/_layout_welcome
block title
    title Login page.

block content
    .login
        .login__wrap-title
            .login__title - Авторизируйтесь - 

        .login__wrap-form
            form(action="" name="form-login" class="login-form")
                .login-form__wrap-login
                    input(type="text" name="login" placeholder="Login" class="login-input")
                
                .login-form__wrap-password
                    input(type="password" name="password" placeholder="Password" class="login-input")
                
                .login-form__wrap-checkbox__1
                    input(type="checkbox" name="men" id="cb-square-1" class="cb-square")
                    label(for="cb-square-1" class="cb-square") Я человек

                .login-form__wrap-question 
                    | Вы точно не робот?
                
                .login-form__wrap-checkbox__2
                    input(type='checkbox' name='yes' id="cb-circle-1" class="cb-circle") 
                    label(for="cb-circle-1" class="cb-circle") Да

                .login-form__wrap-checkbox__3
                    input(type="checkbox" name="no" id="cb-circle-2" class="cb-circle") 
                    label(for="cb-circle-2" class="cb-circle") Не уверен

        ul.login__menu__list
            li.login__menu__item 
                a(href="index.html") На главную
            li.login__menu__item 
                button(type="button") Войти















        //- .popup
        //-     ul.popup__list
        //-         ul.popup__item menu 1
        //-         ul.popup__item menu 2
        //-         ul.popup__item menu 3
