@import 'common/var';
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    line-height: 20px;
}

* {
    box-sizing: border-box;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

@font-face {
    font-family: 'bernier_distressedregular';
    src: url('../fonts/BERNIERDistressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @import './node_modules/normalize.css/normalize';
// @import 'common/greating';
@import 'common/_layout_welcome';
@import 'common/welcome';
@import 'common/login';
@import 'common/map';
@import 'common/_skill';
@import 'common/_layout_about';
@import 'common/about';
@import 'common/_layout_blog';
@import 'common/blog';
@import 'common/_layout_work';
@import 'common/work';
