@import 'common/var';

body {
  margin: 0;
}
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'bernier_distressedregular';
    src: url('../fonts/BERNIERDistressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @import './node_modules/normalize.css/normalize';
// @import 'common/greating';
@import 'common/_layout_welcome';
@import 'common/welcome';
@import 'common/login';

