include _head

.wrap-login
    .wrap-content
        header.header-login
            nav.nav-login
                a(href="login.html").nav-login__button Авторизоваться

        main.main-login
            .wrap-form-login
                block content
                    h1 content of page

            
        footer.footer-login
            .copyright-login &copy Varden Adamchuk | 2016
