include _head
body
    .l-wrap
        header.l-header.clearfix
            .l-header__leftTop
                .l-header__leftTopWrap
                    .b-socialTop 
                        ul.b-socialTop__list
                            li.b-socialTop__item
                                a(href="https://vk.com/varden.adams" target="_blank" title="My VK")
                                    svg.b-socialTop__item_1
                                        use(xlink:href="./assets/sprite/sprite.svg#vk")
                            li.b-socialTop__item
                                a(href="https://github.com/ivarden" target="_blank" title="My GitHub")
                                    svg.b-socialTop__item_2
                                        use(xlink:href="./assets/sprite/sprite.svg#github")
                            li.b-socialTop__item
                                a(href="https://www.linkedin.com/in/ivarden" target="_blank" title="My Linkedin")
                                    svg.b-socialTop__item_3
                                        use(xlink:href="./assets/sprite/sprite.svg#in")

            .l-header__rightTop
                .l-header__rightTopWrap
                    a.l-header__nav.l-header__nav_rotate(href="#main__block3")

            .l-header__bottom.clearfix
            
                .l-header__fotoWrap
                    .b-foto
                        img.b-foto__size(src="./assets/img/me.jpg" alt="Foto of Varden Adamchuk")

                .l-header__description
                    .description__title Varden Adamchuk
                    .description__text Личный сайт веб разработчика

                .l-header__navDown.clearfix
                    .angle-down(href="#main__block3")

                .l-header__traingle.clearfix
                    svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                        polygon.traingle_1(points='0,0   0,86   500.8,86   500.8,75.5')
                        polygon.traingle_2(points='1000,0   1000,86   500,86   500,75.5')

        main.l-main.clearfix
            .l-main__left
                .l-main__title
                    block titleL
                .l-main__foto
                    .l-main__fotoWrap
                        block fotoL
                .l-main__text
                    block textL

            .l-main__right
                .l-main__text
                    block textR
                .l-main__skills
                    .l-main__skillsWrap
                        block skillsR
            .l-main__bottom
                .l-main__map
                    .l-main__map1
                        block map
                    .l-main__map2
                        block contact

            
        footer.l-footer
            .l-footer__leftTop
                block footer-leftTop
            .l-footer__rightTop
                block footer-rightTop
            .l-footer__leftBottom
                block footer-leftBottom
            .l-footer__rightBottom
                block footer-rightBottom
