include _head
.wrap
    header.header
        .social-top
            ul.social__list
                li.social__item
                    a(href="https://vk.com/varden.adams" target="_blank" title="My VK")
                        svg.social__svg
                            use(xlink:href="./assets/sprite/sprite.svg#vk")
                li.social__item
                    a(href="https://github.com/ivarden" target="_blank" title="My GitHub")
                        svg.social__svg
                            use(xlink:href="./assets/sprite/sprite.svg#github")
                li.social__item
                    a(href="https://www.linkedin.com/in/ivarden" target="_blank" title="My Linkedin")
                        svg.social__svg
                            use(xlink:href="./assets/sprite/sprite.svg#in")

        .nav-top
            a.nav-btn.nav-btn__rotate(href="#" onclick="openNav()")

        .wrap-top
            .foto-circle
                img.foto-circle__size(src="./assets/img/me.jpg" alt="Foto of Varden Adamchuk")

            .description-top
                .description__title Varden Adamchuk
                .description__text Личный сайт веб разработчика

            .btn-down
                a.link(href='#to')
                    | my works
                    svg.btn-down__svg
                        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='./assets/sprite/sprite.svg#arrow_down')
            .title-about__background
                svg.title-about__svg
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='assets/sprite/sprite.svg#blog_header')

        .decor-blog
            svg.traingle-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                polygon.traingle-svg__1(points='0,0   0,86   500.8,86   500.8,75.5')
                polygon.traingle-svg__2(points='1000,0   1000,86   500,86   500,75.5')
                
            
                

    main.main-blog#to
        .main-blog__left
            block main-left
                

        .main-blog__right
            block main-right




    footer.footer-blog
        .footer__leftTop
            .footer-nav
                ul.footer-nav__list
                    li.footer-nav__item 
                        a(href="works.html") Мои работы
                    li.footer-nav__item 
                        a(href="about.html") Обо мне
                    li.footer-nav__item 
                        a(href="blog.html") Блог
                    li.footer-nav__item 
                        a(href="login.html") Авторизация
        .footer__rightTop
            .socialDown
                ul.socialDown__list
                    li.socialDown__item
                        a(href="https://vk.com/varden.adams" target="_blank" title="My VK")
                            svg.socialDown__item_1
                                use(xlink:href="./assets/sprite/sprite.svg#vk_round")
                    li.socialDown__item
                        a(href="https://github.com/ivarden" target="_blank" title="My GitHub")
                            svg.b-socialDown__item_2
                                use(xlink:href="./assets/sprite/sprite.svg#github_round")
                    li.socialDown__item
                        a(href="https://www.linkedin.com/in/ivarden" target="_blank" title="My Linkedin")
                            svg.socialDown__item_3
                                use(xlink:href="./assets/sprite/sprite.svg#in_round")
        .footer__leftBottom
            | Этот проект я делал для презентации себя.
        .footer__rightBottom
            .footer-copyright
                .copyright &copy Varden Adamchuk | 2016

    #myNav.overlay
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
            .overlay-content
                a(href='work.html') Мои работы
                a(href='about.html') Обо мне
                a(href='blog.html') Блог
                a(href='index.html') Авторизация
