include _head
body
    .wrap
        .wrap-content
            header.header
                nav.nav
                    a(href="login.html").nav__button Авторизоваться

            main.main
                .wrap-form
                    block content
                        h1 content of page

                
            footer.footer
                .copyright &copy Varden Adamchuk | 2016