// border: 1px solid red;
// border: 1px solid royalblue;
.l-wrap {
    min-width: 320px;
}
.l-header {
    min-width: 100%;
    min-height: 100vh;
    background-image: url($img+"bg.jpg");
    // background-size: 100vw 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    &__leftTop,
    &__rightTop {
        float: left;
        position: relative;
        padding: 20px;
        width: 50%;
        min-height: 10vh;
        &Wrap {
            float: left;
            position: relative;
        }
    }
    &__rightTop {
        &Wrap {
            float: right;
            position: relative;
        }
    }
    &__bottom {
        float: left;
        position: relative;
        min-width: 100%;
        min-height: 90vh;
    }
    &__fotoWrap {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 50%;
        transform: translateX(-50%);
    }
    &__description {
        text-align: center;
    }
    &__traingle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__navDown {
        position: absolute;
        bottom: 5vh;
        height: 2rem;
        margin: 0 50%;
        transform: translateX(-50%);
    }
}

.b-socialTop {
    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        flex: 1 0 auto;
        padding-right: 1.5rem;
        &_1,
        &_2,
        &_3 {
            fill: rgba(149, 184, 184, .9);
            width: 1.8rem;
            height: 1.4rem;
            &:hover {
                fill: white;
                cursor: pointer;
            }
        }
    }
}

.l-header__nav {
    &:before {
        font-family: 'FontAwesome';
        display: block;
        content: '\f0c9';
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        // cursor: pointer;
    }
    &_rotate:hover {
        cursor: pointer;
        animation-name: rot;
        animation-duration: 1000ms;
        @keyframes rot {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate3d(0, 1, 0, 180deg);
            }
        }
    }
}

.b-foto {
    &__size {
        width: 100%;
        height: 100%;
    }
}

.description {
    &__title,
    &__text {
        color: #fff;
    }
    &__title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin: 1.8rem 0 .5rem 0;
    }
    &__text {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

.angle-down {
    &:after {
        font-family: 'FontAwesome';
        display: block;
        content: '\f107';
        font-size: 3rem;
        height: 1px;
        color: rgba(238, 239, 233, 1);
    }
    &:hover {
        cursor: pointer;
    }
}

.traingle {
    position: absolute;
    min-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    &_1 {
        fill: rgba(238, 239, 233, 1);
    }
    &_2 {
        fill: rgba(238, 235, 225, 1);
    }
}

//**********************************
.l-main {
    min-width: 100%;
    min-height: 50vh;
    background-color: rgba(238, 235, 225, 1);
    &__left {
        background-color: rgba(238, 239, 233, 1);
        float: left;
        width: 50%;
        padding: 0 30px 30px 30px;
        @media screen and (max-width: 765px) {
            width: 100%;
        }
    }
    &__right {
        background-color: rgba(238, 235, 225, 1);
        float: left;
        width: 50%;
        padding: 0 30px 30px 30px;
        @media screen and (max-width: 765px) {
            width: 100%;
        }
    }
    &__bottom {
        float: left;
        width: 100%;
        height: 50vh;
    }
    &__title {
        width: 100%;
        @media screen and (min-width: 1800px) {
            float: left;
            width: 50%;
            vertical-align: top;
        }
    }
    &__foto {
        float: left;
        width: 100%;
        vertical-align: top;
        @media screen and (min-width: 1800px) {
            float: left;
            width: 50%;
            vertical-align: top;
        }
        &Wrap {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 420px;
            height: 420px;
            @media screen and (max-width: 850px) {
                width: 318px;
                height: 280px;
            }
        }
    }
    &__text,
    &__skills {
        float: left;
        width: 100%;
        vertical-align: top;
        @media screen and (min-width: 1800px) {
            float: right;
            width: 50%;
            vertical-align: top;
        }
    }
    &__map {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__map1 {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__map2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 300px;
        height: 50%;
        @media screen and (max-width: 780px) {
            display: block;
            position: static;
            width: 100%;
        }
    }
}

//*********************************
.l-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20vh;
    &__leftTop {
        flex: 1 0 50%;
        @media screen and (max-width: 780px){
            flex: 1 0 100%;
        }
    }
    &__rightTop {
        flex: 1 0 50%;
        @media screen and (max-width: 780px){
            flex: 1 0 100%;
        }
    }
    &__leftBottom {
        flex: 1 0 50%;
        @media screen and (max-width: 780px){
            flex: 1 0 100%;
        }
    }
    &__rightBottom {
        flex: 1 0 50%;
        @media screen and (max-width: 780px){
            flex: 1 0 100%;
        }
    }
}

.b-socialDown {
    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        flex: 1 0 auto;
        padding-right: 1.5rem;
        &_1,
        &_2,
        &_3 {
            fill: rgba(149, 184, 184, .9);
            width: 1.8rem;
            height: 1.4rem;
            &:hover {
                fill: white;
                cursor: pointer;
            }
        }
    }
}
//---------------------------------
