.about-foto {
    background-image: url($img+"me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.title {
    &-h1 {
        font-family: 'bernier_distressedregular';
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    &-h2 {
        font-family: 'bernier_distressedregular';
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}
.popup-contact {
    position: absolute;
    font-size: 0.9rem;
    top: 50%;
    left: 50%;

    padding: 0 20px 20px 20px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: rgba( 255, 255, 255, .8);
    padding: 0 40px 40pxs 0;
    @media screen and (max-width: 780px) {
        display: block;
        border-radius: 0;
        background-color: rgba( 255, 255, 255, .0);
    }
    &__list {
        padding: 0 0 0 40px;
        margin: 0 0 0 20px;
        list-style: none;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}
.skype:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 36px;
    content: '\f17e';
    font-size: 1.2rem;
    // line-height: 2rem;
    color: rgba( 1, 189, 157, .8);
}
.mail:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 36px;
    content: '\f0e0';
    font-size: 1.1rem;
    // line-height: 2rem;
    color: rgba( 1, 189, 157, .8);
}
.phone:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 36px;
    content: '\f095';
    font-size: 1.2rem;
    // line-height: 2rem;
    color: rgba( 1, 189, 157, .8);
}
.addres:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 40px;
    content: '\f041';
    font-size: 1.2rem;
    // line-height: 2rem;
    color: rgba( 1, 189, 157, .8);
}
.footer-nav {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: inline-block;
        padding: 0 20px 0 0;
        color: rgba(149, 184, 184, .9);
        font-size: 1rem;
        @media screen and ( max-width: 780px) {
            // padding: 10px 5px;
            font-size: 0.8rem;
            text-align: center;
        }
        a:link,
        a:visited {
            color: rgba(149, 184, 184, .9);
        }
        a:hover {
            color: rgba(255, 255, 255, .9);
        }
        a:active {
            color: rgba(0, 191, 165, .9);
        }
    }
}
.b-socialDown {
    float: right;
    @media screen and (max-width: 780px) {
        margin: 0 50%;
        transform: translateX(50%);
    }
    &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        flex: 1 0 auto;
        @media screen and (max-width: 780px) {
            padding: 5px 10px 0;
        }
        &_1,
        &_2,
        &_3 {
            fill: rgba(149, 184, 184, .9);
            width: 1.8rem;
            height: 1.4rem;
            &:hover {
                fill: white;
                cursor: pointer;
            }
        }
    }
}
