body {
    min-width: 100%;
    min-height: 100%;
    background-color: #2e3b4b;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    background-color: #2e3b4b;
    background-image: url($img+"bg.jpg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.header {
    flex: 0 0 100%;
    min-height: 5vh;
}

.section {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.footer {
    flex: 0 0 100%;
    min-height: 5vh;
}

.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    height: 395px;
    width: 380px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);

    &__foto {
        flex: 0 0 auto;
        margin-top: 40px;
        width: 140px;
        height: 140px;
        border-radius: 100px;
        overflow: hidden;
        // background-image: url($img+"me2.jpg");
        // background-repeat: no-repeat;
        // background-size: 100%; 
        opacity: 0.9;
    }
    &__title {
        flex: 0 0 auto;
        margin-top: -26px; 
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #455a64;
    }
    &__description {
        line-height: 1.3rem;
        font-size: 1rem;
        color: #455a64;
    }

    &__icons__list,
    &__menu__list{
        display: flex;
        flex: 0 0 auto;
        text-align: center;
        padding: 0;
        margin: 0;
        min-width: 100%;
    }
    &__icons__list {
        min-width: 45%;
    }

    &__icons__item,
    &__menu__item {
        flex: 1 0 auto;
        list-style: none;
        cursor: pointer;
    }
    &__icons__item svg{
        fill: rgba(8, 173, 154, .9);
        width: 35px;
        height: 25px;
    }
    &__icons__item svg:hover {
        fill: rgba(14, 145, 138, .9);
    }
    
    &__menu__item {
        padding: 14px;
        color: white;
        background-color: rgba(8, 173, 154, .5);
    }
    &__menu__item:nth-child(2) {
        border-color: rgba(115, 200, 193, 1);
        border-style: solid;
        border-width: 0 3px;
    }
    &__menu__item:hover {
        background-color: rgba(14, 145, 138, .8);
    }
    &__menu__item:active {
        background-color: rgba(14, 145, 138, 1);
    }

}
// .svg_icon path g{
//     fill: coral !important;
//     }

.copyright {
    color: white;
    opacity: 0.7;
    text-align: center;
}