.welcome {
    display: flex;
    // display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    &__foto {
        margin-top: 40px;
        width: 140px;
        height: 140px;
        border-radius: 100px;
        overflow: hidden;
        opacity: 0.9;
        // background-image: url($img+"me.jpg");
        // background-repeat: no-repeat;
        // background-size: 100%; 
    }
    &__title {
        margin-top: -26px;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #455a64;
    }
    &__description {
        line-height: 1.3rem;
        font-size: 1rem;
        color: #455a64;
    }
    &__icons__list,
    &__menu__list {
        display: flex;
        text-align: center;
        padding: 0;
        margin: 0;
        min-width: 100%;
    }
    &__icons__list {
        min-width: 45%;
    }
    &__icons__item,
    &__menu__item {
        flex: 1 0 auto;
        list-style: none;
        cursor: pointer;
    }
    &__icons__item svg {
        fill: rgba(9, 173, 154, .9);
        width: 35px;
        height: 25px;
        &:hover {
            fill: rgba(14, 145, 138, .9);
        }
    }
    &__menu__item {
        padding: 14px;
        color: white;
        background-color: rgba(8, 173, 154, .5);
        &:nth-child(2),
        &:nth-child(3) {
            border-color: rgba(115, 200, 193, 1);
            border-style: solid;
            border-width: 0 0 0 3px;
        }
        &:hover {
            background-color: rgba(14, 145, 138, .8);
        }
        &:active {
            background-color: rgba(14, 145, 138, 1);
        }
    }
}